header {
  display: block;
  padding-bottom: 8em;
  padding-left: 35em;
}

#top-pot-image {
  height: 10em;
  width: 10em;
  margin: auto;
  position: fixed;
}

body {
  background-image: url("https://sickr.files.wordpress.com/2015/03/donuts.jpg");
}

div {
  background-color: #CCA37A;
  border-style: inset;
  margin-top: 2em;
  border-radius: 5em;
}

#contain-all {
  position: absolute;
  width: 82em;
  visibility: hidden;
}

div div {
  visibility: visible;
}

#form-container {
  width: 80em;
  height: 8em;
  position: relative;
}

#table-container {
  width: 60em;
  margin: auto;
  margin-top: 2em;
}

h3 {
  text-align: center;
  font-family: 'Lobster', Arial;
}

button:hover {
  background-color: #564433;
  color: white;
  cursor: pointer;
}

form {
  text-align: center;
}

table {
  text-align: center;
  margin: auto;
  padding-bottom: 2em;
}

td {
  border: solid #564433;
}
